H2 { 
    padding:5px 0 0 7px;
    background:url(verh.gif) no-repeat left top;
     font-family:Arial Narrow;
     Color:#94b767 ;
     Font-size :1.2em ;
    }
    .b1 {
    width:424px;
    background:url(telo.gif) repeat-y;
    }
    .b3 {
    background:url(niz.gif) no-repeat left bottom;
    margin:0;
     padding:0 5px 15px 5px;
    font-family:Tahoma ;
    Font-size :0.8em;
    Text-indent:7%;
    }
    .b2 {
     width:414px;
     font-family: tahoma;
    font-size: 0.8em;
     text-indent:7%;
    margin:0;
    padding:0 5px 0 5px;
    } 
